<section class="mainbar" data-ng-controller="sceneDetail as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wblue">
                    <div data-cc-widget-header title="{{vm.title}}"></div>
                    <div class="widget-content user">
                        <div>
                            <form ng-model="vm.scene">
                                Name: {{Name}} <br /><br />
                                Created On: {{CreateDate | date: 'short'}}<br /><br />
                                Modified On: {{ModifyDate | date: 'short'}}<br /><br />
                                <br />
                            </form>
                        </div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<script type="text/ng-template" id="confirm-delete-dialog">
    <h4>Are you sure you want to delete {{vm.length}} project(s).</h4>
    <div>
        <button class="btn btn-lg btn-danger" ng-click="closeThisDialog(true)">Yes</button>
        <button class="btn btn-lg btn-default" ng-click="closeThisDialog(false)">No</button>
    </div>
</script>